.container{}
body{
background: #a1dbff; /* Old browsers */
background: -moz-linear-gradient(top,  #a1dbff 0%, #cbebff 47%, #f0f9ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1dbff), color-stop(47%,#cbebff), color-stop(100%,#f0f9ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a1dbff 0%,#cbebff 47%,#f0f9ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a1dbff 0%,#cbebff 47%,#f0f9ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a1dbff 0%,#cbebff 47%,#f0f9ff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a1dbff 0%,#cbebff 47%,#f0f9ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
background-repeat:no !important;

}
header{padding-top:20px;}
header img{padding: 1em;background: #fff;}
nav li:not(:first-child):before{content: '|'; color: #d3d3d3;}
section{margin-top: 1em; font-size: 120%;padding: 20px;background: #fff;}
/*Links */
a{color: #09c; text-decoration: none;}
a:hover{text-decoration: underline;color: 069;}
a:visited{color: #069;}

/* Navigation */
nav{float: right;background: #fff;padding:0 0.7em;white-space: nowrap;}
nav ul{margin: 0px; padding: 0px}
nav ul li{list-style: none;display: inline-block;padding: 0.2em;}
nav ul li a{padding: 0 5px; font-weight: bold;}
nav ul li a:visited{color: #09c;}
nav ul li a:hover{text-decoration: underline;}

/* Sign up button */
a.sign_up_button{margin-left: auto; margin-right: auto;display: block;text-align: center; width: 190px;
color: #fff;background: #006400;font-size: 150%;font-weight: bold;padding: 20px;}

/* Round corners */
.round{border-radius: 10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

/* Footer */
footer{text-align: center;margin-top: 10px;margin-right:auto;margin-left: auto;}

footer nav{float: none;}

section h1{font-size: 200%}